html{
    background-color: #ededed;
}


img {
    float:right;
}


.gifImage {
/*    border-style: solid;*/
    border-width: 2px;
    border-color: #585555;
    text-align: center;
/*    display: flex;*/
    padding-right: 25px;
    padding-left: 25px;
/*    flex-flow: row wrap;*/
    margin-top: 30px;
    width: 275px;
    height: 300px;
}




.display {
    
    padding-top:40px;
    float: left;
    display:block;
/*    max-width: 275px;*/
    height: 350px;
    align-text: center;
    

}
#textInput {
    margin-bottom: 60px;
}
.myButton {
    background-color:  red;
    margin-right: 15px;
    height:48px;
}

.theButton {
    width: 118px;
    height: 40px;
    margin: 10px;
    margin-top: 5px;
}

.rating {
/*    display: inline-block;*/
    padding: 0px;
    border-radius: 5px;
/*    float: left;*/
    padding-top:0px;
/*    background-color: rgb(43, 46, 45);*/
    text-align: center;
    width: auto;
}

.gifsHere {
/*    float:left;*/
}

#header {
    font-size: 160px;
    text-align: center;
}

#span{
    font-size: 30px;
    text-align: center;
    margin-left: 360px;
    
}